.btn{
    border-radius: 5px;
    padding: 10px 15px;
    background: $red;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-family: Ubuntu;
    border: none;
    cursor: pointer; 

    &--red{
        @include tablets {
            margin-right: 50px; 
        }
    }
    
    &--red--order{
        margin-right: 20px;
    }

    &--order{
        background: transparent;
        text-transform: none;
    }
}

.btn--red:hover{
    background-color: darken($color: $red, $amount: 30%);
}

.btn--review{
    background: #2f3234;
    align-self: flex-start;
    border: none;
    cursor: pointer;
    @include tablets {
        align-self: center;
    }
    @include phones {
        display: none;
    }

    &-phones{
        display: none;
        @include phones {
            align-self: center;
            display: block;
        }
    }
}

.btn--review:hover{
    background-color: darken($color: #2f3234, $amount: 30%);
}