.burgers{
    background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
    position: relative;
}

.burger{
    display: flex;
    align-items: center;
    padding: 0 1/5rem;
    position: relative;

    @include tablets{
        flex-direction: column;
    }

    &__desc{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 1rem;
        @include tablets{
            flex: auto;
            margin-left: 0;
            text-align: center;
        }
    }

    &__photo{
        flex: 1;
        padding: 80px 0;
        @include tablets{
            flex: auto;
            padding-bottom: 0;
            text-align: center;
        }
    }

    &__img{
        max-width: 100%;
        @include tablets{        
            max-width: 80%;
        }
    }

    &__text{
        font-family: Ubuntu-Light;
        color: #fff;
        margin-bottom: 40px;
    }

    &__order{
        display: flex;
        align-items: baseline;
        @include tablets{      
            justify-content: center;
        }
    }

    &__price{
        font-family: Gagalin;
        color: $red;
        margin-right: 30px;

        &--number{
            font-size: 70px;
        }

        &--text{
            font-size: 30px;
        }
    }
}