.title{
    color: $yellow;
    font-family: Gagalin;
    font-size: 75px;
    margin-bottom: 15px;
    text-align: center;

    &--color-black{
        color: $black;
        padding-bottom: 15px;
    }

    &--hero{
        text-align: left;
        @include tablets {
            font-size: 65px;            
        }
    }

    &--menu{
        color: #fff;
        text-align: left;
        margin-left: 7%;
        padding-top: 7%;
    }
}